<footer>
    <div class="F-info">
    <div class="F-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="F-info-brand"> &copy; WanderLust Private Limited</div>
    <div class="F-info-Link">
        <a href="/Privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>