

<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>

<body>
    <h2>Create a new Listing</h2>
    <form method="POST" action="/listings" novalidate class=" needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label><br>
            <input name="listing[title]" placeholder="Add your Dream house name" type="text" class="form-control" required />
            <div class="valid-feedback">Title looks good!</div>
            

        </div>


        <div class="mb-3" >
            <label for="description" class="form-label">Description</label><br>
             <textarea name="listing[description]" placeholder="Enter Description" type="text"
                    class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short Description!</div>

        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Link</label><br>
            <!-- <input name="listing[image][url]" placeholder="Enter image link/url" type="text" class="form-control" /> -->
            <input name="listing[image][url]"  type="file" class="form-control" />

    </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Price</label><br>
                <input name="listing[price]" placeholder="Enter your price"  class="form-control" required />
                <div class="invalid-feedback">Price should be valid!</div>
            </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label><br>
            <input name="listing[country]" placeholder="Enter your country" type="text" class="form-control" required />
            <div class="invalid-feedback">Contry name should be valid!</div>

        </div>
       </div>
            
            

         <div class="mb-3">
            <label for="location" class="form-label">location</label><br>
            <input name="listing[location]" placeholder="Enter your location" type="text"
                                class="form-control" required />
                                <div class="invalid-feedback">Location should be valid!</div>

         </div>

       
        <button class="btn btn-dark add-btn mt-3">Add</button>
        
    </form>
</body>
</div>
</div>